<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Food_Recipe"
        tools:targetApi="34">

        <!-- SplashActivity: 앱 시작 지점 -->
        <activity
            android:name=".SplashActivity"
            android:exported="true"
            android:theme="@style/Theme.Food_Recipe.Splash"
            android:screenOrientation="fullSensor"> <!-- 스플래시는 보통 세로 고정 -->
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- 로그인 화면 -->
        <activity
            android:name=".login.LoginActivity"
            android:exported="true"
            android:theme="@style/Theme.Food_Recipe"
            android:windowSoftInputMode="adjustResize|stateHidden"
            android:screenOrientation="fullSensor" />

        <!-- 회원가입 화면 -->
        <activity
            android:name=".join.JoinActivity"
            android:exported="true"
            android:theme="@style/Theme.Food_Recipe"
            android:windowSoftInputMode="adjustResize|stateHidden"
            android:screenOrientation="fullSensor" />

        <!-- 메인 화면 -->
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:theme="@style/Theme.Food_Recipe"
            android:screenOrientation="unspecified"
            android:windowSoftInputMode="adjustResize|stateHidden" />

        <activity
            android:name=".findid.FindIdActivity"
            android:exported="true"
            android:theme="@style/Theme.Food_Recipe"
            android:screenOrientation="fullSensor"
            android:windowSoftInputMode="adjustResize|stateHidden" />

        <activity
            android:name=".findps.FindPsActivity"
            android:exported="true"
            android:theme="@style/Theme.Food_Recipe"
            android:screenOrientation="fullSensor"
            android:windowSoftInputMode="adjustResize|stateHidden" />
    </application>
</manifest>
